.idea/
*.tar
__pycache__/

lightning_logs

.ipynb_checkpoints/

.DS_Store
.claude/

.pytest_cache/
.vscode/
.venv
venv.tar.gz
.env
.logs/
logs
store
wandb/
**.svg
**.npy
**.pkl
**.log
**.ckpt
/ProteinMPNN/ca_model_weights/*.pt
/ProteinMPNN/vanilla_model_weights/*.pt
/results_downloaded*
tmp/*
*.fasta
inference/*

*.egg-info